fastapi
uvicorn[standard]
gunicorn
pydantic
pydantic-settings
python-multipart
SQLAlchemy
pyjwt
pwdlib[argon2]
bcrypt
email-validator
# MySQL 연결을 위한 라이브러리
pymysql
cryptography
# 데이터베이스 마이그레이션
alembic
# Rate Limiting
slowapi
# 시드 데이터 생성
faker
# 테스트 라이브러리
pytest
pytest-asyncio
httpx
